h1 {
	margin: 0px;
	text-align: center;
	color: #fff;
	text-shadow: 0px -1px 4px white, 0px -2px 10px yellow, 0px -10px 20px
		#ff8000, 0px -18px 40px red;
	font: 900 21px 'BlackJackRegular';
	background-image: url("/img/fire_bg.jpg");
	background-repeat: repeat-x;
}
body {
	margin: 0px !important;
}

.login {
	position:absolute;
	width: 150px;
	height: 300px;
	margin: auto;
	padding: 0px;
	position: center;
	top :45%;
	left:45%;
}

.login #label {
	font-weight: bold;
	font-style: italic;
}

.mainPanel {
	width: 1260px;
	height: 710px;
	border: solid #EE8318 thin;
	margin: auto;
	padding: 0px;
}

.fullSize {
	width: 100% !important;
	height: 100% !important;
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
	z-index: 100;
}
.fullSize .data {
	height: 100% !important;	
}
.monitoringWidget {
	background-color:#FFFFF3;
	width: 49%;
}

.monitoringWidget .header {
    background-image: url("/img/headers-background.png");
    background-repeat: repeat-x;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.monitoringWidget img {
	float: left;
}

.monitoringWidget .header .lable {
   	color: white;
    float: left;
    font-family: Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    left: 38px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
}

.monitoringWidget .data {
    float: left;
    left: 0;
    position: absolute;
    top: 33px;
    width: 100%;
}


.tournamentsWidget {
	position: relative;
	float: left;
	height: 150px;
}

.tournamentsWidget .left {
	float: left;
	width: 40%;
	padding-left: 2px;
}

.tournamentsWidget .right {
	float: left;
	padding-left: 3px;
	border-left: thin solid green;
	width: 99%;
}

.tournamentsWidgetInternal {
	float: left;
	width: 100%;
	height: 117px;
}

.serversWidget {
	position: relative;
	float: right;
	height: 200px;
	width: 50%;
}

.serversWidgetInternal {
	width:100%;
	float: left;
	height: 170px;
}

.playersWidget {
	width: 50%;
	position: relative;
	float: right;
	height: 355px;
}

.playersWidget .players {
	float: left;
	width: 200px;
	height: 200px;
	border: solid orange thin;
	font-weight: bold;
}

.tasksChart {
	border: thin solid grey;
	height: 150px;
}

.timesChart {
	border: thin solid grey;
	height: 150px;
}

.playersChart {
	border: thin solid grey;
	height: 100px;
}

.reconnectionsChart {
	border: thin solid grey;
	height: 100px;
}

.playersWidget .charts {
	float: left;
	border: solid orange thin;
	width: 420px;
	height: 200px;
}

.playersWidget .servers {
  border: thin solid orange;
    float: left;
    height: 111px;
    margin: 6px 0;
    padding: 2px;
    width: 100%;
}

.alertsWidget {
	width: 50%;
	position: relative;
	float: right;
	height: 120px;
}
.alertsWidget .data {
	height: 96px;
}
.alertsWidgetData {
	height: 100%;
}

.threadPoolsWidget {
	position: relative;
	float: left;
	height: 528px;
}

.poolWidget {
	position: relative;
	height: 275px;
}

.poolName {
	color: #23408a;
	font-weight: 700;
	margin: 3px 0;
}

.poolCharts {
	float: left;
    height: 150px;
    margin: 0;
    padding: 2px;
    width: 49%;
}

.poolTimes {
	
}

.poolTasks {
	
}



/*Tables*/
#infoTable {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	background: #fff;
	width: 100%;
	border-collapse: collapse;
	text-align: left;
}

.poolsList td {
	font-size: xx-small !important;
	height: 13px !important;
}

#infoTable #th {
	font-size: 14px;
	font-weight: bold;
	color: #039;
	border-bottom: 2px solid #6678b1;
	padding: 10px 8px;
	background-color: #E0E0E0; 
}

#infoTable #offline {
	background-color: #FF9999;
}

#infoTable td {
	color: #669;
	padding: 0px 0px 0;
	border-bottom: 1px solid #ccc;
	height: 16px;
}

#infoTable tr:hover td {
	color: #339;
	background: #eff2ff;
}

#infoTable #memoryVeryHigh td {
	background-color: #FF33CC;
	font-weight: bold !important;
	color: white !important;
}

#infoTable #memoryHigh td {
	background-color: #FF6699;
	font-weight: bold !important;
	color: white !important;
}

#infoTable #memoryWarn td {
	background-color: #FFCC66;
	color: blue !important;
}

.poolDataTable {
	font-family: Arial, sans-serif;
	border: solid grey thin;
	float: left;
	width: 100%;
	margin-top: 2px;
}

.poolDataTable #th {
	color: #23408a !important;
	background-color: #C0C0C0;
	border-bottom: solid grey thin;
}

.poolDataTable td {
	font-size: 12px;
	font-weight: 700;
	border-bottom: solid grey thin;
	color: #717171;
}

.poolDataTable td:nth-child(2){
	color: #23408a;
	font-weight: 700;
	font-size: 14px;
}