/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
}

.poolWidget {
	border: dashed thin #990033;
	padding: 10px;
	width: 360px;
	height: 260px;
	position: relative;
	background-color: #F5ECCE;
}

.poolName {
	color: blue;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}

.chart {
	
}

.poolCharts {
	border: solid #EE8318 thin;
	margin: 2px;
	width: 200px;
}

.poolTasks {
	border: solid blue thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 100px;
	height: 100px;
	left: 220px;
}

.poolTimes {
	border: solid green thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 0;
	height: 100px;
	left: 220px;
}

.poolThreads {
	border: solid orange thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 200px;
	height: 70px;
	left: 220px;
}