/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	font-size: 2em;
	font-weight: bold;
	color: #777777;
	text-align: center;
	margin: 0px;
}

body {
	margin: 0px !important;
}

.mainPanel {
	width: 1200px;
	height: 600px;
	border: solid #EE8318 thin;
	margin: 0px;
	padding: 0px;
}

.poolWidget {
	border: dashed thin #990033;
	padding: 10px;
	width: 360px;
	height: 260px;
	position: relative;
	background-color: #F5ECCE;
}

.poolName {
	color: blue;
	font-weight: bold;
	padding-bottom: 5px;
	padding-top: 5px;
}

.chart {
	
}

.poolCharts {
	border: solid #EE8318 thin;
	margin: 2px;
	width: 200px;
}

.poolTasks {
	border: solid blue thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 100px;
	height: 100px;
	left: 220px;
}

.poolTimes {
	border: solid green thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 0;
	height: 100px;
	left: 220px;
}

.poolThreads {
	border: solid orange thin;
	margin: 2px;
	width: 150px;
	position: absolute;
	top: 200px;
	height: 70px;
	left: 220px;
}

.monitoringWidget {
	border: solid orange thin;
	margin: 2px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	width: 97%;
	padding: 2px;
}

.tournamentsWidget {
	width: 50%;
	position: relative;
	float: left;
}

.tournamentsWidget .table {
	height: 150px;
}

.serevrsWidget {
	width: 50%;
	position: relative;
	float: left;
}

.serevrsWidget .table {
	height: 80px;
}

.memoryWidget {
	width: 50%;
	position: relative;
	float: right;
}

.memoryWidget .table {
	height: 100px;
}

.playersWidget {
	width: 50%;
	position: relative;
	float: right;
}

.playersWidget .table {
	height: 300px;
}

.alertsWidget {
	width: 50%;
	position: relative;
	float: right;
}
.alertsWidget .table {
	height: 80px;
}

.threadPoolsWidget {
	width: 50%;
	position: relative;
	float: left;
}
.threadPoolsWidget .table {
	height: 250px;
}